<div *ngIf="user" class="user-data-container">
  <img
    src="https://github.com/ADeljanin/employees-list/blob/master/src/assets/img/user-avatar.jpg?raw=true"
    alt=""
  />
  <div class="user-data">
    <ul>
      <li>
        Full name: <span>{{ user.name }}</span>
      </li>
      <li>
        E-mail: <span>{{ user.email }}</span>
      </li>
      <li>
        Gender: <span>{{ user.gender }}</span>
      </li>
      <li>
        Status: <span>{{ user.status }}</span>
      </li>
    </ul>
  </div>
</div>
