::selection {
  background-color: rgba(198, 127, 5, 0.284);
  color: white;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
  font-family: "Muli";
}
body {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.8),
      rgba(131, 132, 132, 0.8)
    ),
    url(src\assets\img\teamwork.jpg);
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 55%;
  }
}
